$color-blue: #3097d1;
$color-dark-blue: #2a88bd;
$color-grey: #f5f8fa;

$color-text: #1e3948;
$color-link: $color-blue;
$color-link-hover: #216a94;
$color-menu: $color-blue;
$color-background: $color-grey;
$color-border: #d3e0e9;
$color-col: #fff;

$color-button-text: $color-dark-blue;
$color-button-border: $color-dark-blue;
$color-button-background: transparent;
$color-button-background-hover: $color-dark-blue;